body
{
  text-align: center;
  font-family: 'Merriweather', serif;
}

div
{
  margin: 0;
}

h1
{
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2
{
  font-size: 2.5em;
  font-family: 'Montserrat', cursive;
  color: #66BFBF;
  font-weight: normal;
}

h3
{
  font-family: 'Montserrat', cursive;
  color: #11999E;
}

a
{
  color: #11999E;
}


body
{
  margin:0;
}

hr
{
  border-style: dotted;
  border-color: #EAF6F6;
  border-width: 1em 0 0 0;
  width: 8%;
  margin: 100px auto;
}

.wassim-img
{
  width: 15%;
}

.top-container
{
  background-color: #EAF6F6;
  padding-top: 100px;
}

.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.my-skills
{
  margin: 100px;
}
.skill-left
{
  width: 45%;
  text-align: left;
  line-height: 2;
  margin-left: 50px;
  margin-bottom: 100px;
}

.skill-right
{
  width: 45%;
  position: absolute;
  right: 50px;
  text-align: left;
  line-height: 2;

}

.skill-right h3
{
  margin-top:0;
}

.code-img
{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container
{
  padding-top: 100px;
}

.elevator-pitch
{
  width: 45%;
  color: #40514E;
  margin: auto;
}


.bottom-container
{
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #66BFBF;
}

.bottom-container a
{
  margin: 20px;
  color: #11999E;
  text-decoration-line: none;
}

.copyright
{
  margin-top: 50px;
  color:  #EAF6F6;
  font-size: 0.8em;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me h2
{
  margin-bottom: 100px;
}
